@using EquinoxResourceBrowser.Dtos
@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row navbar navbar-dark">
            <TopRow SelectedResultChanged="OnSearchChange" />
        </div>
        <CascadingValue Value=CascadingSearchResult>
            <article class="content px-4">
                @Body
            </article>
        </CascadingValue>

    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code{
    private SearchResultDto? CascadingSearchResult { get; set; }

    private void OnSearchChange(SearchResultDto searchResult)
    {
        CascadingSearchResult = searchResult;
    }
}